.wrapper {
  min-width: 250px;
  width: fit-content;
  border-radius: 12px;
  padding: 16px;

  &_title {
    font-size: 12px;
    color: #fff;
  }

  &_block {
    justify-content: space-between;
    display: flex;
    margin-top: 12px;

    .icon {
      color: #fff;

      & > * {
        font-size: 50px;
      }
    }

    .content {
      color: #fff;

      &_title {
        font-size: 24px;
      }

      &_subtitle {
        font-size: 12px;
      }
    }
  }
}

.styleOne {
  background-image: linear-gradient(330deg, #dc88e2, #f22756);
}

.styleTwo {
  background-image: linear-gradient(330deg, #f09114, #e1e26f);
}
