.right {
  flex-grow: 1;

  &_header {
    width: 90%;
    margin: 0 0 24px auto;
    display: flex;
    .default {
      cursor: pointer;
    }
    .select {
      border-bottom: 3px solid red;
    }

    & > * {
      margin-left: 32px;
      font-size: 8px;
    }
    .legend {
      display: flex;
      flex-grow: 1;
      justify-content: end;
      & > :first-child {
        margin-right: 48px;
      }
      .current,
      .online {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -15px;
          width: 8px;
          height: 8px;
          transform: translateY(-50%);
          background-color: rgb(173 218 224);
          border-radius: 50%;
        }
      }
    }
  }
  &_content {
    height: 250px;
    width: 90%;
    margin: 0 0 0 auto;
  }
}
